
body {
    font: 20px arial;
}
.navbar {
    background-color: rgb(96, 32, 179);
}

.quienes-somos {
    background-color: rgb(26, 3, 36);
    color: aliceblue;
}

.margin {
    padding-top: 10px;
    padding-bottom: 10px;
}

.objetivos {
    background-color: rgb(26, 3, 36);
    color: aliceblue;
    padding-top: 3px;
    padding-bottom: 10px;
}

.servicios {
    background-color: rgb(26, 3, 36);
    color: aliceblue;
}

.bg-footer {
    background-color: rgb(19, 18, 18);
    color: wheat;
}